@model  Whoops.ViewModels.Contacts.ContactViewModel

@{
    ViewBag.Title = "Contacts";
}

@section scripts
{
    <script src="~/lib/jquery.validate.min.js"></script>
    <script src="~/lib/jquery.validate.unobtrusive.min.js"></script>
}
    <div class="row">
        <div class="col-md-6 offset-3">
         <h2>Contacts</h2>


        <form method="post">
            @if (ViewBag.UserMessage != null)
            {
                <div><b>@ViewBag.UserMessage</b></div>
            }
            <span asp-validation-summary="ModelOnly"></span>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" />
                <span style="color:red" class="text-muted" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" />
                <span style="color:red" class="text-muted" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea class="form-control" asp-for="Message" cols="40" rows="4"></textarea>
                <span style="color:red" class="text-muted" asp-validation-for="Message"></span>
            </div>
            <div class="form-group">
                <a asp-controller="App" asp-action="Index" class="btn btn-primary">Cancel</a>
                <input type="submit" value="Send" class="btn btn-success" />
            </div>


        </form>
    </div>
    </div>