@{
    ViewBag.Title = "Home Page";

}
@section scripts
    {

    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/tripsEditorController.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="  crossorigin=""></script>


}

<div class="row" ng-app="app-trips">
    <link rel="stylesheet" href="~/css/site.css" />
    <div ng-view></div>

</div>
